# These set of workflows run on every push to the main branch
name: PR Checks

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - deploy/charts/**

permissions:
  contents: read

jobs:
  spellcheck:
    name: Spellcheck
    uses: ./.github/workflows/spellcheck.yml
  linting:
    name: Linting
    uses: ./.github/workflows/lint.yml
  tests:
    name: Tests
    uses: ./.github/workflows/test.yml
    secrets: inherit
  e2e-tests:
    name: E2E Tests
    uses: ./.github/workflows/e2e-tests.yml
  docs:
    name: Docs
    uses: ./.github/workflows/verify-docgen.yml
  codegen:
    name: Codegen
    uses: ./.github/workflows/verify-gen.yml
  operator-ci:
    name: Operator CI
    permissions:
      contents: read
    uses: ./.github/workflows/operator-ci.yml
