name: Docgen

on:
  workflow_call:

jobs:
  docgen:
    name: Verify Docgen
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version-file: go.mod
      - name: Install swag
        run: go install github.com/swaggo/swag/v2/cmd/swag@latest
      - run: ./cmd/help/verify.sh
